<section class="products">
  <div class="container">
    <h2 class="products-title">Описание пиццы</h2>
    <div class="product-item">

      <ng-template [ngIf]="product.image">
        <a class="product-image hvr-bounce-in" href="assets/images/products/product1.png">
          <img src="{{product.image}}">
        </a>
      </ng-template>

      <custom-title [title]="product.title | uppercase"></custom-title>
      <div class="product-text">{{ product.description | wordUpper: ['сыр', 'томат', 'сос'] }}</div>
      <div class="product-action" #elem>
        <a class="btn btn-add-to-cart hvr-sweep-to-right" routerLink="/order"
           [queryParams]="{product: product.title}">В корзину</a>
      </div>
    </div>
  </div>
</section>
